
.custom-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.slider-wrap {
    margin-left: 40px;
}

.population-density rect {
    fill: #4CAF50;
}

#CountryTable {
    height: 85vh;
    overflow: auto;
}

.wrap {
    width: 352px;
}

.wrap table {
    width: 300px;
    table-layout: fixed;
}

table tr td {
    padding: 5px;
    width: 120px;
    word-wrap: break-word;
}

table tr th {
    padding: 5px;
    width: 120px;
    word-wrap: break-word;
}

table.head tr td {
    background: #eee;
}

.inner_table {
    height: 70px;
    overflow-y: auto;
}

/* slider styling */

.slider {
    -webkit-appearance: none;
    width: 425px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* margin-left: 20px */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 425px;
    height: 35px;
}

.slider-label svg text {
    text-anchor: middle;
}

.slider-wrap {
    display: inline-block;
    float: left;
    /* width: 750px; */
    /* margin-left: 50px; */
}


@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}

* {
    font-family: 'font1';
}

/* outline */

.outline {
    opacity: 0.1;
}

.highlight {
    opacity: 0.5;
}







/*tooltip */

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: 55px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip h2 {
    margin: auto;
    font: 14px sans-serif;
}

.tooltip h4 {
    margin: auto;
    font: 14px sans-serif;
}

.tooltip h6 {
    margin: auto;
    font: 14px sans-serif;
}
